.arrival-header{
    max-width: 100%;
    height: 350px;
    background-image: url('new-arrival/top-image.avif');
    background-position: center;
    background-size: cover;
    border: 1px solid;
   
}

.arrival-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
