.homecardmain{
    width: 100%;
    height: auto;
    /* border: 1px solid; */
    padding-top: 60px;
    padding-bottom: 50px;

}
.homecard0{
height: 600px;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
padding: 0px 20px;

}
.hcard1{
    height: 600px;
    width: 500px;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    
}
.hcard1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
   background-image: url(/home/homecard2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.4s ease-in-out;
    transform: scale(1.2);
    z-index: 0;
    height: 100%;
    width: 100%;
}
.hcard1:hover::before{
  transform: scale(1.4);
 
}
.hcard1 img{
  height: 100%;
  width: 100%;
}
.hcardtext{
color: white;
position: absolute;
bottom: 80px;
right: 0;
left: 20px;
margin-left: auto;
margin-left: auto;
}
.hcardtext button{
    height: 40px;
    width: 120px;
    margin-top: 40px;
    border: none;
}
.hcardtext button:hover{
background-color: black;
color: white;
}
.hcard2{
    height: 600px;
    width: 47%;
    /* border: 1px solid blue; */
    /* transition: 0.3s ease-in-out; */
}
.shoe-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: px;
  padding: 20px;*/
  /* background-color: #f4f4f9;  */
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
  gap: 5px;
}

.shoe-card {
  /* background-color: #ffffff; */
  overflow: hidden;
  transition: transform 0.3s ease;
  position: relative;
  height: 280px;
  background-color: black;
  width: 270px;
}
.shoesimg{
    position: absolute;
    height: 220px;
    width: 300px;
}
.shoestext{
    position: absolute;
    bottom: 0px;
}
.shoe-card:hover {
  /* transform: translateY(10px); */
  transform: scale(1.04);

}

.shoe-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border-bottom: 1px solid #e0e0e0; */
}

.shoe-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin: 15px;
}

.shoe-card p {
  margin: 0 15px 10px;
  color: #666;
}

.shoe-card p:last-child {
  font-size: 1rem;
  font-weight: bold;
  /* color: #007bff; */
}

@media (max-width:1163px) {
  .hcard1{
    width: 700px 
  }
  .hcard2{
    width: 700px;
  }
  .homecard0{
    height: auto;
    gap: 30px;
  }
 
}
@media (max-width:500px) {
  .hcard1{
 height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
 .hcard1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
   background-image: url(/home/homecard2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.4s ease-in-out;
    transform: scale(1.8);
    z-index: 0;
    height: 400px;
    width: 100%;
}
}

@media (max-width:500px) {
  .hcard1{
 height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
 .hcard1::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
   background-image: url(/home/homecard2.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.4s ease-in-out;
    transform: scale(1.8);
    z-index: 0;
    height: 400px;
    width: 100%;
}
}