.slideshoes-main{
  height: auto;
  width: 98%;
}
.slideshoes {
  padding: 50px 0px;
  padding-left: 25px;
  background: white;
  height: auto;
  position: relative;
}

.slide-card {
  /* padding: 10px; */
  background: #fff;
  text-align: left;
}

.shoe-img {
  width: 95%;
  /* max-width: 310px; */
  height: 250px;
  object-fit: contain;
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.shoe-info h3 {
  font-size: 19px;
  font-weight: 600;
  margin: 0 0 5px 0;
}

.color {
  color: #666;
  font-size: 16px;
  margin: 0 0 5px 0;
}

.price {
  font-size: 16px;
  color: #000;
  font-weight: 500;
  margin: 2px 0 5px 0;

}

/* Navigation Buttons */
.custom-nav-buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  width: 97%;
  /* padding: 0 10px; */
  z-index: 1;
}

.custom-nav-buttons button {
  padding: 12px;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.3s ease;
  border-radius: 50%;
  border: 1px solid rgb(221, 219, 219);
}

.custom-nav-buttons button:hover {
  /* background: #444; */
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 1024px) {
  .shoe-img {
    max-width: 240px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .shoe-img {
    max-width: 220px;
    height: 160px;
  }

  .custom-nav-buttons button {
    font-size: 16px;
    padding: 6px 10px;
  }
}

@media (max-width: 480px) {
  .slideshoes {
    padding: 10px;
  }

  .shoe-img {
    max-width: 300px;
    height: 240px;
  }

  .custom-nav-buttons {
    top: 35%;
  }

  .custom-nav-buttons button {
    font-size: 14px;
    padding: 5px 8px;
  }
}
