.bacgroundimg {
  background-image: url('/Socks/background.jpg'); 
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
}
.socksh1{
  color: white;
  text-align: center;
  padding-top: 80px;
  
}
